@model marmeladka.DTOs.OrderRequestDTO

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Спасибо за покупку!</h3>
    </div>

    <div class="modal-body">
        <section id="cart_items">
            <div class="container">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Картинка</td>
                                <td class="description">Описание</td>
                                <td class="price">Цена за 100 грамм</td>
                                <td class="quantity">Количество, гр</td>
                                <td class="total">Общая сумма:</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductList)
                            {
                                <tr data-product-id="@item.Id">
                                    <td class="cart_product">
                                        <img src="@Url.Action("GetProductImage", "Product", new { id = item.Id })" alt="картинка" class="img img-circle" style="width: 60px; height: 60px;">
                                    </td>
                                    <td class="cart_description">
                                        <h4>@item.Name</h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Retail_price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href="javascript:void(0)" data-dind="click:" onclick="UpWeight(this)">+</a>
                                            <input class="cart_quantity_input" type="text" name="quantity" value="@item.ProductWeight" autocomplete="off" size="4" readonly="readonly">
                                            <a class="cart_quantity_down" href="javascript:void(0)" onclick="DownWeight(this)">-</a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.TotalPrice</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="javascript:void(0)" onclick="DeleteProduct(this)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <section id="do_action">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="userForm">
                        <div class="col-sm-6">
                            <h4>Заполните форму:</h4>
                            <input type="text" placeholder="Имя" data-bind="value:firstName" class="form-control input-lg" onblur="GetName(this)"/>
                            <input type="text" placeholder="Фамилия" data-bind="value:secondName" class="form-control input-lg" onblur="GetSecondName(this)"/>
                            <input type="text" placeholder="адресс" data-bind="value:adress" class="form-control input-lg" onblur="GetAdress(this)"/>
                            <input type="text" placeholder="email" data-bind="value:email" class="form-control input-lg" onblur="GetEmail(this)"/>
                            <input type="text" placeholder="postcode" data-bind="value:postCode" class="form-control input-lg" onblur="GetPostcode(this)"/>                         
                        </div>
                        <div class="col-sm-6">
                            <p data-bind="text:firstName">Name</p>
                            <p data-bind="text:secondName">Фамилия</p>
                            <p data-bind="text:adress">Адресс</p>
                            <p data-bind="text:email">Email</p>
                            <p data-bind="text:postCode">Postcode</p>
                            <h3 id="totalPrice"></h3>
                            <button type="button" class="btn btn-default check_out" onclick="SendFullOrder()">Оформить заказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

