@model marmeladka.DTOs.OrderRequestDTO

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Спасибо за покупку!</h3>
    </div>

    <div class="modal-body">
        <section id="cart_items">
            <div class="container">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Картинка</td>
                                <td class="description">Описание</td>
                                <td class="price">Цена за 100 грамм</td>
                                <td class="quantity">Количество, гр</td>
                                <td class="total">Общая сумма:</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductList)
                            {
                                <tr data-product-id="@item.Id">
                                    <td class="cart_product">
                                        <img src="@Url.Action("GetProductImage", "Product", new { id = item.Id })" alt="картинка" class="img img-circle" style="width: 60px; height: 60px;">
                                    </td>
                                    <td class="cart_description">
                                        <h4>@item.Name</h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Retail_price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" data-max-weight="@item.ProductWeight" href="javascript:void(0)" onclick="UpWeight(this)">+</a>
                                            <input class="cart_quantity_input" type="text" name="quantity" value="@item.CurrentWeight" autocomplete="off" size="4" readonly="readonly">
                                            <a class="cart_quantity_down" href="javascript:void(0)" onclick="DownWeight(this)">-</a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.TotalCategoryPrice</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="javascript:void(0)" onclick="DeleteProduct(this)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <section id="do_action">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="userForm">
                        <div class="col-sm-6">
                            <h3>Заполните форму:</h3>
                            <fieldset class="form-group">
                                <input type="text" placeholder="Имя" data-bind="value: firstName" class="form-control input-lg" onblur="GetName(this)" />
                                <input type="text" placeholder="Фамилия" data-bind="value: secondName" class="form-control input-lg" onblur="GetSecondName(this)" />
                                <input type="text" placeholder="адресс" data-bind="value: adress" class="form-control input-lg" onblur="GetAdress(this)" />
                                <input type="text" placeholder="Телефон" data-bind="value: phone" class="form-control input-lg" onblur="GetPhoneNumber((this))" />
                                <input type="text" placeholder="email" data-bind="value: email" class="form-control input-lg" onblur="GetEmail(this)" />
                                <input type="text" placeholder="postcode" data-bind="value: postCode" class="form-control input-lg" onblur="GetPostalCode(this)" />
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <h3>Информация о заказе:</h3>
                            <h4>Имя: <strong data-bind="text: firstName"></strong></h4>
                            <h4>Фамилия: <strong data-bind="text: secondName"></strong></h4>
                            <h4>Адресс: <strong data-bind="text: adress"></strong></h4>
                            <h4>Телефон: <strong data-bind="text: phone"></strong></h4>
                            <h4>Email: <strong data-bind="text: email"></strong></h4>
                            <h4>Почтовый индекс: <strong data-bind="text: postCode"></strong></h4>
                            <h4 style="border-bottom: 2px solid burlywood;">Полная стоимость заказа: <strong id="totalPrice"></strong>руб.</h4>
                            <div style="margin-top: 20px;">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Добавить еще товаров</button>
                                <button type="button" id="buyButton" class="btn btn-success" onclick="SendFullOrder()" disabled="disabled">Оформить заказ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

