@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marmeladka.by</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/otherjs")

    @*<script src="~/content/js/js/jquery.js"></script>
    <script src="~/content/js/knockout-3.4.0.js"></script>*@
    <!--[if lt IE 9]>
    <script src="~/content/js/js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/content/img/logo1.png" alt="Marmeladka.by" id="logoimg" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a id="CartBTN" href="javascript:void(0)" onclick="SendOrderToCart()"><i class="fa fa-shopping-cart"></i>Моя корзина <b id="productCount" style="padding-right: 10px; color: yellow;">0</b></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index", "Home")" class="active">Главная</a></li>
                                <li class="dropdown"><a href="#">Акции<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Популярное<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">Акции</a></li>
                                <li><a href="contact-us.html">Связаться с нами</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>
                                    Get the most recent updates from
                                    <br />
                                    our site and be updated your self...
                                </p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>

    </footer>
    <!--/Footer-->
<script type="text/javascript">
    
    var i = 0, step = 100, validationNumber = 0;
    var dictionary = {
        totalPrice: 0
    };
    var formObject = {
        defValidateNumber: 0
    };

    var UserFormModel = {
        firstName: ko.observable(),
        secondName:ko.observable(),
        adress: ko.observable(),
        email: ko.observable(),
        postCode: ko.observable(),
    };

    function AddOrder(obj) {
        var itemId = obj.getAttribute("data-item-id");

        if (!(dictionary.hasOwnProperty(itemId))) {
            dictionary[itemId] = step;
        } else {
            dictionary[itemId] += step;
        }

    };

    function ConvertObjtoMass(obj) {
        var mass = [];
        Object.keys(obj).forEach(function (keys) {
            mass.push({ Id: keys, ProductWeight: dictionary[keys] });
        });
        return mass;
    }

    function SendOrderToCart() {
        if (Object.keys(dictionary).length !== 0) {
            var elem = document.getElementById("#userForm");
            $.ajax({
                cashe: false,
                type: 'POST',
                url: "@Url.Action("Cart", "Home")",
                data: JSON.stringify(ConvertObjtoMass(dictionary)),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                async: true,
                success: function (result) {
                    $("#dialogContent").html(result);
                    $('#modDialog').modal('show');
                    dictionary.totalPrice = CalculateTotalPrice();
                    ko.applyBindings(UserFormModel);
                    
                }
            });
        } else {
            alert("Сначала выберите товары");
        }
    };

    function UpWeight(e) {
        var tr = $(e).closest("[data-product-id]");
        var prodictId = tr.attr("data-product-id");
        var inputWeight = tr.find(".cart_quantity_input");
        dictionary[prodictId] += step;
        var weight = Number(inputWeight.val()) + step;
        inputWeight.val(weight);
        SetCategoryPrice(e);
    }

    function DownWeight(e) {
        var tr = $(e).closest("[data-product-id]");
        var prodictId = tr.attr("data-product-id");
        var inputWeight = tr.find(".cart_quantity_input");
        var weight = Number(inputWeight.val());
        if (weight > step) {
            weight -= step;
            dictionary[prodictId] -= step;
            inputWeight.val(weight);
            SetCategoryPrice(e);
        } else {
            tr.remove();
            delete dictionary[prodictId];
        }
    }

    function DeleteProduct(e) {
        var tr = $(e).closest("[data-product-id]");
        var prodictId = tr.attr("data-product-id");
        tr.remove();
        delete dictionary[prodictId];
    }

    function SetCategoryPrice(e) {
        var elem = $(e).closest("[data-product-id]");
        var totalPrice = elem.find(".cart_total_price");
        totalPrice[0].innerText = CalculateCategoryPrice(elem);
    }

    function CalculateCategoryPrice(tr) {
        var elem = tr.children(".cart_price");
        var retailPrice = Number(elem[0].innerText);
        var productWeight = Number(tr.find("input.cart_quantity_input").val());
        var newPrice = (retailPrice / 100) * productWeight;
        CalculateTotalPrice();
        return newPrice;
    }

    function CalculateTotalPrice() {
        var obj = $("tr > td > p.cart_total_price");
        for (i = 0; i < obj.length; i++) {
            dictionary.totalPrice += Number(obj[i].innerText);
        }
        $("#totalPrice").text(dictionary.totalPrice);
        return totalPrice;
    }

    function SendFullOrder() {
        if (formObject.defValidateNumber !== 31 && Object.keys((dictionary).length === 0)) {
            alert("заполните все поля формы"); // сюда функцию вставить 
        } else {
            formObject.mass = ConvertObjtoMass(dictionary);

            $.ajax({
                cashe: false,
                type: 'POST',
                url: "@Url.Action("Order", "Home")",
                data: JSON.stringify(formObject),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                async: true,
                success: function (result) {
                    alert(result);
                }
            });
        }
    }

    function GetName(e) {
        var name = e.value;
        if (name.length !== 0) {
            SetSuccess(e, 1);
            formObject.name = name;
        } else {
            SetError(e);
            // тут вставить сброс бита
        }
    }

    function GetSecondName(e) {
        var secondName = e.value;
        if (secondName.length !== 0) {
            SetSuccess(e, 2);
            formObject.secondName = secondName;
        } else {
            SetError(e);
        }
    }

    function GetAdress(e) {
        var adress = e.value;
        if (adress.length !== 0) {
            SetSuccess(e, 4);
            formObject.adress = adress;
        } else {
            SetError(e);
        }
    }

    function GetEmail(e) {
        var regexp = /.+@@.+\..+/i;
        var email = e.value;
        if (email.search(regexp) !== -1) {
            SetSuccess(e, 8);
            formObject.Email = email;
        } else {
            SetError(e);
        }
    }

    function GetPostcode(e) {
        var postCode = e.value;
        if (isNaN(postCode)) {
            SetSuccess(e, 16);
            formObject.postCode = postCode;
        } else {
            SetError(e);
        }
    }

    function SetSuccess(e, bitNumber) {
        $(e).css({ "border-color": "green", "border-width": "2px" });
        formObject.defValidateNumber = formObject.defValidateNumber | bitNumber;
    }

    function SetError(e) {
        $(e).css({ "border-color": "red", "border-width": "2px" });
    }
</script>
</body>
</html>
