@using System.Web.Optimization
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marmeladka.by</title>
    @Styles.Render("~/bundles/css") 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/otherjs")
    <!--[if lt IE 9]>
    <script src="~/content/js/js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/content/img/logo1.png" alt="Marmeladka.by" id="logoimg" /></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="http://vk.com/public92434211">
                                    <img src="~/content/img/social_link_vk.png" /></a></li>
                                <li><a id="CartBTN" href="javascript:void(0)" onclick="SendOrderToCart()"><i class="fa fa-shopping-cart"></i><span class="badge" id="badgeProductCount" style="padding: 10px 15px; font-size: 20px; border-radius: 7px;">0</span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index", "Home")" class="active">Главная</a></li>
                                <li class="dropdown"><a href="#">Акции<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Популярное<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">Акции</a></li>
                                <li><a href="contact-us.html">Связаться с нами</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>
                                    Get the most recent updates from
                                    <br />
                                    our site and be updated your self...
                                </p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>

    </footer>
    <!--/Footer-->
    <script type="text/javascript">
        var cashDoc = document;
        var quantity = 100;
        var price = 0;
        var formObject = {};
        var dictionary = {};

        var UserFormModel = {
            defValidateNumber: ko.observable(),
            firstName: ko.observable(),
            secondName: ko.observable(),
            phone: ko.observable(),
            adress: ko.observable(),
            email: ko.observable(),
            postCode: ko.observable()
        };

        UserFormModel.defValidateNumber.subscribe(function () {
            if (UserFormModel.defValidateNumber() === 63) {
                $("#buyButton").removeAttr("disabled");
            } else {
                $("#buyButton").attr("disabled", "disabled");
            }
        });


        function AddOrder(obj) {
            var itemId = obj.getAttribute("data-item-id");
            toastr.success('100 грамм товара было добавлено в корзину','Товар добавлен');

            if (!(dictionary.hasOwnProperty(itemId))) {
                var retailPrice = obj.getAttribute("data-retail-price");
                dictionary[itemId] = {
                    itemQuantity: quantity,
                    itemRetailPrice: Number(retailPrice)
                }
                SetBadgeProductCount();
            } else {
                dictionary[itemId].itemQuantity += quantity;
            }            
        };

        function SetBadgeProductCount() {
            $("#badgeProductCount").text(Object.keys(dictionary).length);
        }

        function ConvertObjtoMass(obj) {
            var mass = [];
            Object.keys(obj).forEach(function (keys) {
                mass.push({
                    Id: keys,
                    CurrentWeight: dictionary[keys].itemQuantity,
                    ProductCost: dictionary[keys].itemRetailPrice
                });
            });
            return mass;
        }

        function SendOrderToCart() {
            if (Object.keys(dictionary).length !== 0) {
                $.ajax({
                    cashe: false,
                    type: 'POST',
                    url: "@Url.Action("Cart", "Order")",
                    data: JSON.stringify(ConvertObjtoMass(dictionary)),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    async: true,
                    success: function (result) {
                        $("#dialogContent").html(result);
                        $('#modDialog').modal('show');
                        var form = cashDoc.getElementById("userForm");
                        CalculateTotalPrice();
                        ko.cleanNode(form);
                        ko.applyBindings(UserFormModel, form);
                    }
                });
            } else {
                alert("Сначала выберите товары");
            }
        };

        function UpWeight(e) {
            var tr = $(e).closest("[data-product-id]");
            var prodictId = tr.attr("data-product-id");
            var maxWeight = Number(e.getAttribute("data-max-weight"));
            var inputWeight = tr.find(".cart_quantity_input");
            if (dictionary[prodictId].itemQuantity !== maxWeight) {
                dictionary[prodictId].itemQuantity += quantity;
                var weight = Number(inputWeight.val()) + quantity;
                inputWeight.val(weight);
            } else {
                alert("Простите, а у нас больше нет(");
            }
            SetCategoryPrice(e);
            CalculateTotalPrice();
        }

        function DownWeight(e) {
            var tr = $(e).closest("[data-product-id]");
            var prodictId = tr.attr("data-product-id");
            var inputWeight = tr.find(".cart_quantity_input");
            var weight = Number(inputWeight.val());
            if (weight > quantity) {
                weight -= quantity;
                dictionary[prodictId].itemQuantity -= quantity;
                inputWeight.val(weight);
                SetCategoryPrice(e);
                CalculateTotalPrice();
            } else {
                tr.remove();
                delete dictionary[prodictId];
                SetBadgeProductCount();
                CalculateTotalPrice();
            }
        }

        function DeleteProduct(e) {
            var tr = $(e).closest("[data-product-id]");
            var prodictId = tr.attr("data-product-id");
            tr.remove();
            delete dictionary[prodictId];
            SetBadgeProductCount();
            CalculateTotalPrice();
        }

        function SetCategoryPrice(e) {
            var elem = $(e).closest("[data-product-id]");
            var totalPrice = elem.find(".cart_total_price");
            totalPrice[0].innerText = CalculateCategoryPrice(elem[0].getAttribute("data-product-id"));
        }

        function CalculateCategoryPrice(itemId) {
            var newPrice = dictionary[itemId].itemQuantity * (dictionary[itemId].itemRetailPrice / 100);
            return newPrice;
        }

        function CalculateTotalPrice() {
            var totalPrice = 0;
            for (var key in dictionary) {
                totalPrice += dictionary[key].itemQuantity * (dictionary[key].itemRetailPrice / 100);
            }
            formObject.OrderPrice = totalPrice;
            $("#totalPrice").text(totalPrice);
        }

        function SendFullOrder() {
            if (UserFormModel.defValidateNumber() !== 63 && Object.keys((dictionary).length === 0)) {
                alert("заполните все поля формы"); // сюда функцию вставить 
            } else {
                formObject.productList = ConvertObjtoMass(dictionary);

                $.ajax({
                    cashe: false,
                    type: 'POST',
                    url: "@Url.Action("AddNewActionOrder", "Order")",
                    data: JSON.stringify(formObject),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    async: true,
                    success: function (result) {
                        alert(result);
                    }
                });
            }
        }

        var bitNumber = 0;

        function GetName(obj) {
            bitNumber = 1;
            if (obj.value.length > 0) {
                formObject.Name = obj.value;
                SetSuccess(obj, bitNumber);
            } else {
                SetError(obj, bitNumber);
            }
        }

        function GetSecondName(obj) {
            bitNumber = 2;
            if (obj.value.length > 0) {
                formObject.Second_name = obj.value;
                SetSuccess(obj, bitNumber);
            } else {
                SetError(obj, bitNumber);
            }
        }

        function GetAdress(obj) {
            bitNumber = 4
            if (obj.value.length > 0) {
                formObject.adress = obj.value;
                SetSuccess(obj, bitNumber);
            } else {
                SetError(obj, bitNumber);
            }
        }


        function GetPhoneNumber(obj) {
            bitNumber = 8;
            if (!(~obj.value.search(/([a-zа-яё])/i)) & obj.value.length > 5) {
                formObject.phone = obj.value;
                SetSuccess(obj, bitNumber);
            } else {
                SetError(obj, bitNumber);
            }
        }

        function GetEmail(obj) {
            bitNumber = 16
            var regexp = /.+@@.+\..+/i;
            var email = obj.value;
            if (email.search(regexp) !== -1) {
                SetSuccess(obj, bitNumber);
                formObject.Email = email;
            } else {
                SetError(obj, bitNumber);
            }
        }

        function GetPostalCode(obj) {
            bitNumber = 32;
            if (!(~obj.value.search(/([a-zа-яё])/i)) & obj.value.length > 1) {
                SetSuccess(obj, bitNumber);
                formObject.postCode = obj.value;
            } else {
                SetError(obj, bitNumber);
            }
        }

        function SetSuccess(obj, bit) {
            $(obj).css({ "border-color": "rgb(16, 144, 18)", "border-width": "2px", "margin-bottom": "1px" });
            UserFormModel.defValidateNumber(UserFormModel.defValidateNumber() | bit);
        }

        function SetError(obj, bit) {
            $(obj).css({ "border-color": "#b13f3f", "border-width": "2px", "margin-bottom": "1px" });
            if (UserFormModel.defValidateNumber() & bit) {
                UserFormModel.defValidateNumber(UserFormModel.defValidateNumber() ^ bit);
            }
        }

        function GetByCategory(obj) {
            var id = obj.getAttribute("data-category-id");
            $.ajax({
                cashe: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: "/Product/GetProductsByCategory/?id=" + id,
                async: true,
                success: function (result) {
                    $("#product-content").html(result);
                }
            });
        }
    </script>
</body>
</html>
