@model IEnumerable<marmeladka.DTOs.ProductOrderDTO>
@foreach (var item in Model)
{
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@Url.Action("GetProductImage", "Product", new { id = item.Id })" alt="@item.Name"/>
                    <h2>@item.Retail_price руб.</h2>
                    <p>@item.Name</p>
                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" data-item-id="@item.Id" data-retail-price="@item.Retail_price" onclick="AddOrder(this)"><i class="fa fa-shopping-cart"></i>100 грамм в корзину</a>
                </div>
            </div>
        </div>
    </div>
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="width: 1200px"></div>
</div>

