@model IEnumerable<marmeladka.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "GetAllProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Картинка</th>
            <th>Имя</th>
            <th>Категория</th>
            <th>Компания производитель</th>
            <th>Оптовая цена(100гр)</th>
            <th>Розничная цена(100гр)</th>
            <th>Вес на складе(грамм)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@Url.Action("GetImage", "Admin", new { item.Id })" width="35" height="35"/></td>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Company.Name</td>
                <td>@item.Opt_price</td>
                <td>@item.Retail_price</td>
                <td>@item.Product_weight</td>
                <td>
                    <button type="button" data-model-id="@item.Id" onclick="AddOrUpdateModel(this)" class="btn btn-success">Обновить</button></td>
                <td><a href="@Url.Action("DeleteProduct", "Admin", new { id = item.Id })" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-1 ">
    <button class="btn btn-primary" type="button" onclick="AddOrUpdateModel(this)">Добавить</button>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<script type="text/ecmascript">
    function AddOrUpdateModel(event) {
        $.ajax({
            cashe: false,
            async: true,
            type: "GET",
            url: "/Admin/GetAddOrUpdateProductForm/?id=" + event.getAttribute("data-model-id"),
            success: function (result) {
                $("#dialogContent").html(result);
                $('#modDialog').modal('show');
            }
        });
    };
</script>
