@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-3">
                    <div class="login-form">
                        <h2>Login to your account</h2>
                        @using (Html.BeginForm("Login", "Admin", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBox("name", null, new { placeholder = "Введите имя", @class = "form-control" })
                            @Html.Password("password", null, new { placeholder = "Пароль", @class = "form-control" })
                            @Html.ValidationMessage("password")
                            <div>
                                <button type="submit" class="btn btn-success col-md-2" style="width: 48%;">Войти</button>
                                <button type="reset" class="btn col-md-2" style="width: 48%; margin-left: 3%">Очистить</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

